In [1]:
#importing the good old boys
import pandas as pd
import numpy as np
from math import sqrt
from collections import Counter
from sklearn.model_selection import train_test_split
import scipy.spatial
df = pd.read_csv("/Users/tatumallen/Downloads/csv_result-veh-prime.csv")

In [2]:
df.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f27,f28,f29,f30,f31,f32,f33,f34,f35,CLASS
0,1,0.063,0.160,0.509,-0.967,0.058,0.000,0.874,0.271,1.307,...,-0.924,-0.077,0.108,-0.003,0.381,-0.314,0.929,0.184,-0.001,noncar
1,2,-0.037,-0.325,-0.626,-0.029,0.121,-0.409,-0.002,-0.835,-0.595,...,0.270,0.533,0.152,-0.978,0.157,0.011,-0.254,0.453,-0.621,noncar
2,3,-0.000,1.253,0.833,-0.970,1.516,0.014,-0.378,1.197,0.546,...,-0.408,1.550,0.010,-0.652,-0.403,-0.151,0.000,0.049,-0.113,car
3,4,-0.743,-0.082,-0.626,0.723,-0.006,-0.000,-0.080,-0.297,0.166,...,0.819,-0.077,-0.099,-0.001,-0.291,1.633,0.686,1.528,-0.000,noncar
4,5,-0.939,-1.054,-0.140,0.036,-0.766,0.000,-0.272,1.077,5.236,...,0.676,0.533,-0.003,0.122,-0.179,-1.449,0.024,-1.698,0.083,noncar

In [3]:
#replacing car and no car with 1 and 0 respectfully
df = df.replace(['car'], 1.000)
df = df.replace(['noncar'], 0.000)

In [4]:
df.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f27,f28,f29,f30,f31,f32,f33,f34,f35,CLASS
0,1,0.063,0.160,0.509,-0.967,0.058,0.000,0.874,0.271,1.307,...,-0.924,-0.077,0.108,-0.003,0.381,-0.314,0.929,0.184,-0.001,0.0
1,2,-0.037,-0.325,-0.626,-0.029,0.121,-0.409,-0.002,-0.835,-0.595,...,0.270,0.533,0.152,-0.978,0.157,0.011,-0.254,0.453,-0.621,0.0
2,3,-0.000,1.253,0.833,-0.970,1.516,0.014,-0.378,1.197,0.546,...,-0.408,1.550,0.010,-0.652,-0.403,-0.151,0.000,0.049,-0.113,1.0
3,4,-0.743,-0.082,-0.626,0.723,-0.006,-0.000,-0.080,-0.297,0.166,...,0.819,-0.077,-0.099,-0.001,-0.291,1.633,0.686,1.528,-0.000,0.0
4,5,-0.939,-1.054,-0.140,0.036,-0.766,0.000,-0.272,1.077,5.236,...,0.676,0.533,-0.003,0.122,-0.179,-1.449,0.024,-1.698,0.083,0.0

# Pearson Correlation - Question 1A and 1B

In [5]:
#defining X and Y Values
yValue = df['CLASS']
xValues = ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20', 'f21', 'f22', 'f23', 'f24', 'f25', 'f26', 'f27', 'f28', 'f29', 'f30', 'f31', 'f32', 'f33', 'f34', 'f35']

In [6]:
#making an array for the PCC Results
pccResults = []*36
length = len(df[xValues])-1
print(length)

845

In [7]:
#Making PCC Model; this is based on pearson.html
def pearson(x, y):
    sum_sqX = 0
    sum_sqY = 0
    sum_coproduct = 0
    mean_x = 0
    mean_y = 0
    for i in range(length):
        sum_sqX += x[i] * x[i]
        sum_sqY += y[i] * y[i]
        sum_coproduct += x[i] * y[i]
        mean_x += x[i]
        mean_y += y[i]
    mean_x = mean_x / length
    mean_y = mean_y / length
    pop_sd_x = sqrt((sum_sqX / length) - (mean_x * mean_x))
    pop_sd_y = sqrt((sum_sqY / length) - (mean_y * mean_y))
    cov_x_y = (sum_coproduct / length) - (mean_x * mean_y)
    correlation = cov_x_y / (pop_sd_x * pop_sd_y)
    return correlation

In [8]:
#Calculating PCC with scipy 
lenArr = len(xValues)
for i in range(lenArr):
    corr = pearson(df[xValues[i]], yValue)
    pccResults.append(abs(corr))
print(pccResults)

[0.06862742861915738, 0.307934982102883, 0.19436342728957748, 0.008421432416288488, 0.43623110241592233, 0.001173877055453107, 0.037777122895097, 0.3510981014201862, 0.08888468881807043, 0.01298534239184928, 0.05599972384141407, 0.04218561762173958, 0.0021741048783563773, 0.3671977612614123, 0.36693984833130056, 0.03262548472949429, 0.3650005209473775, 0.11372281831570262, 0.017956953579203145, 0.13621735048491446, 0.2977932634946587, 0.05582293533321709, 0.35035926985651833, 0.003679663149250195, 0.008561274009635453, 0.15173750447344872, 0.34116492222041855, 0.01563553687994917, 0.15579674817511585, 0.017866084905459306, 0.010326604649079408, 0.29175038412300547, 0.09267086026183788, 0.0384277321447869, 0.2654353063184128, 0.02984210815092925]

In [9]:
#making a 2D array with pccResults and xValues
pccResults = list(zip(pccResults, xValues))

In [10]:
#sorting said array by largest to smallest |r| value
len2 = len(pccResults)
pccResults.sort(reverse = True)
for i in range(len2):
    print(pccResults[i])

(0.43623110241592233, 'f4')
(0.3671977612614123, 'f13')
(0.36693984833130056, 'f14')
(0.3650005209473775, 'f16')
(0.3510981014201862, 'f7')
(0.35035926985651833, 'f22')
(0.34116492222041855, 'f26')
(0.307934982102883, 'f1')
(0.2977932634946587, 'f20')
(0.29175038412300547, 'f31')
(0.2654353063184128, 'f34')
(0.19436342728957748, 'f2')
(0.15579674817511585, 'f28')
(0.15173750447344872, 'f25')
(0.13621735048491446, 'f19')
(0.11372281831570262, 'f17')
(0.09267086026183788, 'f32')
(0.08888468881807043, 'f8')
(0.06862742861915738, 'f0')
(0.05599972384141407, 'f10')
(0.05582293533321709, 'f21')
(0.04218561762173958, 'f11')
(0.0384277321447869, 'f33')
(0.037777122895097, 'f6')
(0.03262548472949429, 'f15')
(0.02984210815092925, 'f35')
(0.017956953579203145, 'f18')
(0.017866084905459306, 'f29')
(0.01563553687994917, 'f27')
(0.01298534239184928, 'f9')
(0.010326604649079408, 'f30')
(0.008561274009635453, 'f24')
(0.008421432416288488, 'f3')
(0.003679663149250195, 'f23')
(0.0021741048783563773, 'f12')
(0.001173877055453107, 'f5')

# KNN and Top M Features (Question 1C)

In [11]:
#unzip array and make new array to store gradual m values in
pccArray, xValues2 = zip(*pccResults)
newArr = list(yValue)

In [12]:
#see if normalized
df["CLASS"].value_counts(normalize = True)*100
df.columns

Index(['id', 'f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20',
       'f21', 'f22', 'f23', 'f24', 'f25', 'f26', 'f27', 'f28', 'f29', 'f30',
       'f31', 'f32', 'f33', 'f34', 'f35', 'CLASS'],
      dtype='object')

In [13]:
#making X and y Variables for Train/Test
X = df[['f4']]
y = df['CLASS']

In [14]:
#splitting into test and train
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 10)

In [15]:
#converting to pandas dataframe to numpy
X_Train = X_train.to_numpy()
X_Test = X_test.to_numpy()
y_Train = y_train.to_numpy()
y_Test = y_test.to_numpy()

In [16]:
#knn class
class KNN:
    def __init__(self, k):
        self.k = k
        
    def fit(self, X, y):
        self.X_Train = X
        self.y_Train = y
        
    def distance(self, X1, X2):
        distance = scipy.spatial.distance.euclidean(X1, X2)
    
    def predict(self, X_Test):
        final_output = []
        for i in range(len(X_Test)):
            d = []
            votes = []
            for j in range(len(X_Train)):
                dist = scipy.spatial.distance.euclidean(X_Train[j] , X_Test[i])
                d.append([dist, j])
            d.sort()
            d = d[0:self.k]
            for d, j in d:
                votes.append(y_Train[j])
            ans = Counter(votes).most_common(1)[0][0]
            final_output.append(ans)
            
        return final_output
    
    def score(self, X_Test, y_Test):
        predictions = self.predict(X_Test)
        return (predictions == y_Test).sum() / len(y_Test)

In [17]:
#fitting data
knn = KNN(7)
knn.fit(X_Train, y_Train)

In [18]:
#prediction
prediction = knn.predict(X_Test)

In [19]:
#printing out predicted values
for i in prediction:
    print(i, end= ' ')

0.0 1.0 1.0 1.0 0.0 1.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 1.0 0.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 1.0 1.0 1.0 0.0 1.0 0.0 1.0 1.0 0.0 1.0 1.0 0.0 1.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 1.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 1.0 0.0 0.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 0.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 1.0 1.0 1.0 1.0 1.0 1.0 0.0 1.0 0.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 1.0 0.0 0.0 0.0 1.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 1.0 1.0 1.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 1.0 1.0 1.0 0.0 1.0 1.0 0.0 0.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 1.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0

In [20]:
#knn test score
score = knn.score(X_Test, y_Test)
print(score)

0.7357142857142858

In [21]:
#LOOCV TESTS
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from numpy import mean
from numpy import absolute
from numpy import sqrt

counter = 1
for i in range(len(xValues2)-1):
    cv = LeaveOneOut()
    model = LinearRegression()
    scores = cross_val_score(model, X, y, scoring='neg_mean_absolute_error',
                             cv=cv, n_jobs=-1)
    print(sqrt(mean(absolute(scores))))
    X.insert(counter, xValues2[i+1], df[xValues2[i+1]])
    counter += 1

0.636721912813016
0.6355699456463019
0.6354885988368428
0.635822619114645
0.6351896144291653
0.624186597405669
0.5881963118589073
0.5850877655837998
0.5799545834927988
0.5800572102894268
0.5727941222875965
0.5579315913811861
0.5509069553158669
0.5503125198104896
0.5282941223204358
0.5275883163808839
0.5170525094292232
0.47730019849284605
0.47689002633986566
0.469682006764088
0.4698447200731982
0.4698892001344592
0.4701221464068668
0.47045404636508376
0.47053336359838943
0.4708256597419843
0.47113903792325695
0.47159440281003756
0.47166554266327493
0.47179188780204073
0.47210821400318403
0.47236330360892953
0.4725552705306757
0.47300338256897667
0.4731749511195961